@import "core/import","./core/reset";

.min-width{
  min-width:1200px !important;
}

.txt-center{text-align: center !important;}
.center{
  @extend %center-block;
}

.pull-left{
  @extend %float;
}
.pull-right{
  @include float(right);
}

.disabled{
  @extend %disabled;
  border: solid 1px #d5d5d5 !important;
}

.clearfix{
  @extend %clearfix;
}

.hide{
  @extend %hidden;
}


.bold{font-weight: bold !important;}
.f10{font-size: 10px !important;}
.f12{font-size: 12px !important;}
.f14{font-size: 14px !important;}
.f16{font-size: 16px !important;}
.f18{font-size: 18px !important;}
.f20{font-size: 20px !important;}
.f24{font-size: 24px !important;}
.f26{font-size: 26px !important;}
.f30{font-size: 30px !important;}
.f40{font-size: 40px !important;}

.yellow{color:$yellow !important;;}
.yellow-light{color:$yellow-light !important;;}
.yellow-light2{color:$yellow-light2 !important;;}
.yellow-light3{color:$yellow-light3 !important;;}


.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt90{margin-top:90px !important;}
.mt180{margin-top:180px !important;}

.mr20{margin-right:20px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}
.ml40{margin-left:40px !important;}
.ml25{margin-left:25px !important;}
.ml60{margin-left:60px !important;}

.mb10{margin-bottom:10px !important;}
.mb40{margin-bottom:40px !important;}
.mb60{margin-bottom:60px !important;}

//header
.header{
  background: #2f220f;
  overflow: hidden;
  height:226px;

  .top{
    @extend %main-width;
    margin-top:40px;

    .before>{
      a{
        color:#fff;
        margin-left:28px;

        &:hover{
          color:$yellow-light;
        }
      }

      .about{
        @extend %inline-block;
        @include wh(auto,30px,30px);
        @include border-radius(15px);
        border:1px solid $yellow-light4;
        text-align: center;
        padding:0 20px;

        &:hover{
          background:$yellow-light4;
          color:#fff;
        }
      }
    }

    .after{
      cursor: pointer;
      @include wh(131px,56px,56px);
      background: url("./assets/images/icons/h_u.png") center no-repeat;
      background-size: 32px 32px;
      position: relative;

      &:hover{
        .menu-box{display:block;}
      }

      .menu-box{
        display: none;
        @include wh(100%,auto);
        padding-top:9px;
        position: absolute;
        top:42px;
        left:0;
        background: url("./assets/images/icons/z_trangle_top.png") center top no-repeat;
      }
      .menu-list{
        @include wh(100%,auto);
        @include border-radius;
        z-index:10;
        overflow: hidden;
        border:1px solid $yellow-light3;
        background:#f4efe8;

        .item{
          border-bottom:1px solid #000;
          margin-bottom:-1px;
          position: relative;

          &>a{
            display:block;
            @include wh(auto,35px,35px);
            padding-left:45px;


            &.ico1{
              background: url("./assets/images/icons/h_u1.png") left 24px center no-repeat;
              background-size: 14px 14px;
            }

            &.ico2{
              background: url("./assets/images/icons/h_u2.png") left 24px center no-repeat;
              background-size: 12px 13px;
            }


            &:hover{
              color:#fff;

              &.ico1{
                background:$yellow-light url("./assets/images/icons/h_u1_h.png") left 24px center no-repeat;
                background-size: 14px 14px;
              }

              &.ico2{
                background:$yellow-light url("./assets/images/icons/h_u2_h.png") left 24px center no-repeat;
                background-size: 12px 13px;
              }
            }
          }
        }
      }
    }
  }

  .top-box{
    @extend .min-width;
  }

  .nav{
    @extend %main-width;
    margin-bottom:74px;

    .menu{
      margin-top:58px;
      .item{
        color:#fff;
        margin-left:68px;
        font-size:16px;

        &.active{
          color:$yellow-light3;
        }

        &:hover{
          @extend .active;
        }
      }
    }
  }
}

//footer
.footer{
  background: $yellow-light2;
  overflow: hidden;
  margin-top:97px;
  height:292px;

  .container{
    @extend %main-width;
    .p1{
      font-size:20px;
      margin-top:80px;
    }

    .p2{
      font-size:30px;
      color:$yellow-light;
    }

    .p3{
      @include wh(auto,68px,68px);
      font-size:50px;
    }

    .p4{
      margin-top:30px;
      color:$yellow;
    }
  }

  .footer-menu{
    color:$yellow;
    margin-top:180px;
    a{
      &:hover{
        color:$yellow-light4;
      }
    }
    span{
      margin:0 28px;
    }
  }
}

//面包屑
.crumbs {
  color: #a0917a;
  a {
    font-size: 12px;
    color: #a0917a;
    &:hover {
      padding-bottom: 1px;
      border-bottom: 1px solid #a0917a;
    }
  }
  span {
    font-size: 12px;
  }
}

//文章内容
.tz-content{
  img{
    max-width: 100%;
  }

  p{
    margin-top:31px;
    line-height:1.81;
  }
}

//tz-user
.tz-user-header{
  height:200px;
  background: $yellow-light2;
  overflow: hidden;

  .nav{
    @extend %main-width;
    margin-top:64px;
  }
}

.tz-user-crumbs{
  @extend %main-width;
}

.user-hr{
  @include horizontal-line(solid 1px #e1dad0);
}

.user-project-wrap{
  background: $yellow-light2;
  overflow: hidden;
}

.user-project-container{
  @extend %main-width;
  background: #fff;
  margin-bottom:76px;
  overflow: hidden;
  min-height:1000px;
}

//-------------------------------------------------------------------------
.input-date{
  color:#2f220f !important;
  padding-right:36px;
  background: url('./assets/images/icons/c_icon_date.png') right 15px center no-repeat;
  background-size: 21px 21px;
}

.border-line{
  @include wh(100%,7px,7px);
  background: url("./assets/images/icons/z_vr.png") repeat-x;
}

.tz-err-tips{
  @include wh(326px,25px,25px);
  margin:0 auto;
}

.Validform_checktip{
  display:block;

  &.Validform_wrong{
    background: url("./assets/images/icons/z_err.png") left center no-repeat;
    background-size:12px 12px;
    padding-left:18px;
    color: #fa4a02;
    font-size:12px;
  }

  &.suc{
    .Validform_right{
      display:block;
      position: absolute;
      top:50%;
      right:-30px;
      margin-top:-10px;
      @include wh(20px,20px);
      background: url("./assets/images/icons/z_suc.png") center no-repeat;
      background-size: 20px 20px;
    }
  }
}

.tz-empty{
  margin-top: 20px;
  padding: 100px 10px;
  text-align: center;
  background: #f9f5ef;
  font-size: 16px;
  color: #886835;
  font-weight: 300;
}

/*注册协议*/
.agree-wrap{
  @extend %main-width;
  background: #fff;
  min-height:1200px;
  overflow: hidden;

  .h1{
    margin-top: 85px;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
  }

  .date{
    text-align: center;
  }

  .content {
    margin-top: 25px;
    line-height: 30px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
    margin-bottom:40px;
  }
}
