@import "core/import";

//@include font-icon(caret-right);

.index-head{
  @include wh(100%,702px);
  background:url($host+"images/img/a_top101.jpg") top center no-repeat,url($host+"images/img/a_top102.jpg") bottom center no-repeat;

  .header{
    background:none;
  }
}

.tz-index-title{
  @include wh(auto,35px,35px);
  margin-top: 108px;
  font-size: 26px;
  color:$yellow;
  text-align: center;

  .bg{
    width:850px;
    margin:0 auto;
    background: url($host+ "images/icons/t_r.png") left center no-repeat,url($host+"images/icons/t_l.png") right center no-repeat;
  }
}

.tz-index-teams{
  @extend %main-width;
  overflow: hidden;
  margin-top:92px;
  margin-bottom:116px;

  .teams-list{
    width:1500px;
    .item{
      @include wh(149px,auto);
      float: left;
      margin-right:200px;
      text-align: center;
    }

    .link{
      display:block;
    }

    .img{
      height:104px;
    }

    .tit{
      font-size: 20px;
      color:#2f220f;
      margin-top:34px;
    }

    .en{
      font-size:12px;
      color: $grayLight;
      font-weight: bold;
      margin-top:8px;
    }
  }
}

.tz-pro-title{
  @extend %main-width;
  height:55px;
  line-height:55px;
  border-bottom:1px solid $grayLight;

  .span1{
    font-size:20px;
  }

  .span2{
    font-size:16px;
    color:$yellow-light;
    margin-left:20px;
  }

  .link{
    float:right;
    color:$yellow;
    font-size:16px;

    &:hover{
      color:$yellow-light4;
    }
  }
}

.tz-index-project{
  @extend %main-width;
  margin-top:55px;
  margin-bottom:98px;

  .project-list{
    width:1220px;
  }

  .item{
    float:left;
    margin-right:18px;
    @include wh(388px,auto);

    &:hover{
      .desc{
        border-color:$yellow-light4;
        @include border-radius(16.5px);
      }
    }
  }

  .img-box{
    @include wh(100%,258px);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .con-box{
    text-align: center;
    .desc{
      @extend %inline-block;
      @include wh(auto,33px,33px);
      min-width:182px;
      max-width: 80%;
      padding:0 30px;
      text-align: center;
      overflow: hidden;
      font-size:16px;
      @extend %ellipsis-basic;
      margin:14px 0;
      border:1px solid #fff;
    }
  }
}

.tz-index-news{
  @extend %main-width;

  .news-list{
    margin-top:62px;
    @include wh(513px,300px);
    overflow: hidden;
    border-right:1px solid $grayLight;

    .item{
      font-size: 16px;
      @include wh(413px,25px);
      margin-bottom:44px;
      float:left;
      @extend %ellipsis-basic;

      &:hover{
        text-decoration: underline;
      }

      .date{
        color: #886835;
        margin-right:18px;
      }
    }
  }

  .about-box{
    @include wh(590px,300px);
    overflow: hidden;
    margin-top:62px;

    .title{
      @include wh(auto,35px);
      font-size:26px;
    }

    .con{
      margin-top:42px;
      line-height:1.81;
      height:165px;
      overflow: hidden;
      font-size:16px;
    }

    .link{
      float:left;
      color:$yellow;
      margin-top:38px;
      height:20px;

      &:hover{
        color:$yellow-light4;
      }
    }
  }

}
