@import "core/import";

.tz-user-wrap{
  background: $yellow-light2;
  overflow: hidden;
}

.tz-user-container{
  @extend %main-width;
  background-color: #2f220f;
  margin-bottom:40px;

  .user-content{
    @include wh(950px,auto);
    min-height:970px;
    overflow: hidden;
    background: #fff;
  }
}

.tz-user-hr{
  @include horizontal-line(solid 1px #e1dad0);
}
